body {
	font-family: sans-serif;
}

h1 {
	color: green;
	font-family: sans-serif;
}

.second {
	color: magenta;
}

code {
	font-family: monospace;
	color: red;
}

li {
	font-family: inherit;
}


li + li {
	background: black;
	color: white;
}


ol > li {
	background: black;
	color: white; 
}

